[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
responses = "*"
requests-mock = "*"

[packages]
beautifulsoup4 = "*"
requests = "*"
pandas = "*"

[requires]
python_version = "3.7"
